[submodule "thirdparty/FFmpeg"]
	path = thirdparty/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "thirdparty/expected"]
	path = thirdparty/expected
	url = https://github.com/TartanLlama/expected.git
